.main {
    background-color: #427DD6;
    height: 1220px;
}

.main__body {
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.main__left-section {
    position: relative;
}

.main__circle {
    position: absolute;
    z-index: 0;
    margin-top: 300px;
    left: -200px;

    width: 900px;
    height: 900px;
    background-color: #EC5151;
    border-radius: 50%;
}

.main__image {
    z-index: 1;
    position: absolute;
    left: 150px;

    width: 680px;
    height: 800px;
    background-image: url('../assets/main-image.png');
    background-repeat: no-repeat;
    background-position: 0%;

    transition: all 1s ease;
    animation: image-animate 3s infinite;
}

.main__right-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 180px;
    margin-right: 100px;
}

.main__button {
    cursor: pointer;

    display: flex;
    align-items: center;
}

.main__button-image {
    width: 209px;
    height: 113px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main__button:nth-child(1) .main__button-image {
    background-image: url('../assets/pages/animals.jpg');
}

.main__button:nth-child(2) .main__button-image {
    background-image: url('../assets/pages/quiz.jpg');
}

.main__button:nth-child(3) .main__button-image {
    background-image: url('../assets/pages/alph.jpg');
}

.main__button:nth-child(4) .main__button-image {
    background-image: url('../assets/pages/history.jpg');
}

.main__button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: 113px;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(255, 255, 255, 0.22);
}

.main__button:hover {
    background: rgba(255, 255, 255, 0.391);
    border-radius: 20px;
}

@keyframes image-animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}