.quiz {
  /* background: #31cde4; */
  background: #6959d2;
  height: 100vh;
}

.quiz__body {
  max-width: 1600px;
  margin: 0 auto;
}

.quiz__circle {
  position: fixed;
  z-index: 0;
  margin-top: 300px;
  left: -200px;

  width: 900px;
  height: 900px;
  background-color: #ffffff;
  border-radius: 50%;
}

.quiz__content-section {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz__title {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;

  display: flex;
  align-items: center;
}

.quiz__title .leave {
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding-right: 100px;
  font-size: 50px;
  transition: all 0.2s ease;
}

.quiz__title .leave:hover {
  color: #000000;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.quiz__title h1 {
  border-radius: 20px;
  background: rgba(164, 160, 160, 0.71);
  padding: 0px 20px;
}

.quiz__cards {
  z-index: 1;
}

.quiz__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
  align-items: center;
}

.quiz__quest {
  display: flex;
}

.quiz__quest p {
  color: #fff;
  font-size: 40px;
}

.quiz__answers {
  display: flex;
  gap: 30px;
}

.quiz__answers button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #59b0d2;

  color: #fff;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: My Font;
  font-size: 44px;
}

.quiz__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
}

.quiz__count {
  color: #fff;
  font-size: 48px;
}

.return {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d26959;
  
    color: #fff;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: My Font;
    font-size: 30px;
}
